<section class="card-grid" style="transform-style: preserve-3d; background-image: linear-gradient(to {{item.gradient_corner}} {{item.gradient_side}}, rgba({{ item.gradient_color_1 }}), rgba({{ item.gradient_color_2 }})), url({{ site.baseurl }}/{{ item.image }})">
  <h2 class="{{item.section-head-colour }}">{{ item.section-head }}</h2>
  {% for section in item.griditems %}
  <article class="program">
    <h3>{{ section.name }}</h3>
    <div class="thumb {{ section.item_class }}" style="background-image: url({{ site.baseurl }}/{{ section.image}}){% for item in section.background %}, linear-gradient({{ item }}, {{item}}){% endfor %}"></div>
    {% for item in section.text %}<p>{{ item }}</p>{% endfor %}
    <a href="{{ site.baseurl }}/{{ section.button_link }}" class="{{ section.button_class }} call-to-action">
      {{ section.button-text }}
    </a>
  </article>
  {% endfor %}
</section>
