<article class="contact">

<h3>Get in touch </h3>
<p>We'd love to hear from you
<form action="https://app.99inbound.com/api/e/{{ site.99inbound }}" method="POST">
   <p>
     <label for="">Your name</label>
     <input type="text" name="name" placeholder="enter your name">
   </p>
   <p>
     <label for="">Your Email Address</label>
     <input type="email" name="email" placeholder="enter your email">
   </p>

   <p class="full-width">
     <label for="">Your Message</label>
     <textarea name="message" id="messahe" placeholder="type your message here" cols="30" rows="7"></textarea>
   </p>
   <p class="full-width">
     <button class="btn-blk-ui-pink">Send</button>
   </p>
 </form>

</article>
