<article class="contact">

<h2>Email Us </h2>
<form action="https://app.99inbound.com/api/e/{{ site.99inbound }}" method="POST">
   <div>
     <label for="">Your Name</label>
     <input type="text" name="name" placeholder="enter your name">
   </div>
   <div>
     <label for="">Your Email Address</label>
     <input type="email" name="email" placeholder="enter your email">
   </div>

   <div class="full-width">
     <label for="">Your Message</label>
     <textarea name="message" id="messahe" placeholder="type your message here" cols="30" rows="7"></textarea>
   </div>
   <div class="full-width">
     <button class="btn-blk-ui-pink">Send</button>
   </div>
   <div style="position: absolute; left: -5000px;">
  <input type="checkbox" name="glazed_forest_green_honeycomb_door" value="1" tabindex="-1" autocomplete="no">
</div>

 </form>

</article>
