
{% assign incubate = site.events | where:"categories","incubation" | sort: 'date-start' | reverse  %}
{% assign innovate = site.events | where:"categories","innovation" | sort: 'date-start' | reverse %}
{% assign open = site.events | where:"categories","open" | sort: 'date-start' | reverse  %}

<!--  {{ open.size }}-->

<article class="archive">
  <h2>Events</h2>
  <div class="project-list">
    {% case page.categories %}
    {% when 'open' %}
    {% for event in open %}
    <a href="{{ site.baseurl }}{{ event.url }}.html" class="open">
        <img src="{{ site.baseurl }}/{{ event.hero.icon }}" height="">
        <p>{{ event.title}}</p>
        <p class="date">{{ event.date-start | date_to_string }}</p>
    </a>
    {% endfor %}

    {% when 'incubation' %}
    {% for event in incubate %}
      <a href="{{ site.baseurl }}{{ event.url }}.html" class="incubate">
          <img src="{{ site.baseurl }}/{{ event.hero.icon }}" height="">
          <p>{{ event.title}}</p>
          <p class="date">{{ event.date-start | date_to_string }}</p>
      </a>
    {% endfor %}

    {% when 'innovation' %}
      {% for event in innovate  %}
      <a href="{{ site.baseurl }}{{ event.url }}.html" class="innovate">
          <img src="{{ site.baseurl }}/{{ event.hero.icon }}" height="">
          <p>{{ event.title}}</p>
          <p class="date">{{ event.date-start | date_to_string }}</p>
      </a>
      {% endfor %}

    {% endcase %}
    <div>
</article>
