<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <link href="{{ site.font-link}}" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="uImagine News Feed" href="{{ site.baseurl }}/news-feed.xml">
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>


<!-- favicon -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/fav/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/fav/site.webmanifest">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/fav/safari-pinned-tab.svg" color="#ff5800">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/fav/favicon.ico">
<meta name="msapplication-TileColor" content="#ff5800">
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/fav/browserconfig.xml">
<meta name="theme-color" content="#ff5800">

<!-- Search Engine -->
<meta name="description" content="{{ page.excerpt }}">
<meta name="image" content="{{ site.url }}{{ site.baseurl }}/assets/images/{{ site.og_image }}">

<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ page.excerpt }}">
{% for item in page.hero.image %}<meta itemprop="image" content="{{ item | absolute_url }}">{% endfor %}
{% for item in page.hero.icon %}<meta itemprop="image" content="{{ item | absolute_url }}">{% endfor %}

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.excerpt }}">
<meta name="twitter:site" content="@{{ site.social-twitter }}">
{% for item in page.hero.image %}<meta name="twitter:image:src" content="{{ item | absolute_url }}">{% endfor %}
{% for item in page.hero.icon %}<meta name="twitter:image:src" content="{{ item | absolute_url }}">{% endfor %}


<!-- Twitter - Article -->
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{ page.title }}">
<meta name="og:description" content="{{ page.excerpt }}">
{% for item in page.hero.icon %}<meta name="og:image" content="{{ item | absolute_url }}">{% endfor %}
{% for item in page.hero.image %}<meta name="og:image" content="{{ item | absolute_url }}">{% endfor %}

<meta name="og:url" content="{{ page.url | absolute_url }}">
<meta name="og:site_name" content="uImagine - the Digital Learning Innovation Laboratory">
<meta name="og:locale" content="en_AU">
<meta name="og:type" content="article">

<!-- Open Graph - Article -->
<meta name="article:section" content="{{ page.categories }}">
<meta name="article:published_time" content="{{ published date }}">
<meta name="article:author" content="{{ page.author }}">
<meta name="article:tag" content="{{ page.tags }}">

</head>
