<header>

{% include brand.html %}

<nav>
  <label for="show-menu" class="show-menu">Menu + </label>
  <input type="checkbox" id="show-menu" role="button">

  <ul id="menu">
    <li class="dropdown"><a href="{{ site.baseurl }}/about.html">About</a>
      <ul>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">History</a></li>
          <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
        </ul>
    </li>
    <li class=""><a href="{{ site.baseurl }}/projects/">Projects</a></li>
    <li><a href="{{ site.baseurl }}/news.html">News</a></li>
    <li><a href="{{ site.baseurl }}/events/">Events</a></li>
    <li><a href="{{ site.baseurl }}/resources.html">Resources</a></li>

  </ul>
</nav>

{% include social.html %}

</header>
