<header>

{% include brand.html %}

<nav>
  <label for="show-menu" class="show-menu">Menu + </label>
  <input type="checkbox" id="show-menu" role="button">

  <ul id="menu">
    <li class="dropdown"><a href="{{ site.baseurl }}/about.html">About</a>
      <ul>
          <li><a href="{{ site.baseurl }}/about.html">About Us</a></li>
          <li><a href="{{ site.baseurl }}/about.html#team">Our Team</a></li>
          <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
          <li><a href="{{ site.baseurl }}/media.html">Press Kit</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="{{ site.baseurl }}/programs.html">Programs</a>
      <ul>
          <li><a href="{{ site.baseurl }}/incubation.html">Incubation</a></li>
          <li><a href="{{ site.baseurl }}/innovation.html">Innovation</a></li>
          <li><a href="{{ site.baseurl }}/open-education.html">Open Education</a></li>
          <li><a href="{{ site.baseurl }}/projects/">All Projects</a></li>
        </ul>
    </li>
    <li><a href="{{ site.baseurl }}/news.html">News</a></li>
    <li><a href="{{ site.baseurl }}/events/">Events</a></li>
    <li><a href="{{ site.baseurl }}/resources.html">Resources</a></li>

  </ul>
</nav>

{% include social.html %}

</header>
