<section class="no-flick hero {% if item.full_screen == true %}full_screen{% endif %}" style="transform-style: preserve-3d; background-image: {% for icon in item.icon %} url({{ icon | absolute_url }}),{% endfor %} linear-gradient(to {{item.gradient_corner}} {{item.gradient_side}},rgba({{ item.gradient_color_1 }}),rgba({{item.gradient_color_2 }})){% for image in item.image %}, url({{ site.basurl }}{{ image | absolute_url }}){% endfor %}">
  {% if item.promo-head == "blank" %} {% elsif item.promo-head %}{% for text in item.promo-head %}<h2 class="promo">{{ text }}</h2>{% endfor %}{% else %}<h2 class="promo">{{ page.title }}</h2>{% endif %}
  {% for text in item.promo-text %}<h3 class="promo">{{ text }}</h3>{% endfor %}
  {% for text in item.button-text %}<a href="{{ item.button_link }}" class="no-flick {{item.button_class}} call-to-action">{{ text }}</a> {% endfor %}
</section>
