<article class="contact">

<h2>Mailing List</h2>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://uImagine.us15.list-manage.com/subscribe/post?u=15a2aa14621e01e7a3dd5a8df&amp;id=8b3b1c6b6b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" placeholder="enter your email" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE1">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE1" placeholder="enter your first name" class="required" id="mce-MMERGE1">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE2">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE2" placeholder="enter your surname" class="required" id="mce-MMERGE2">
</div>
<div class="mc-field-group input-group">
    <strong>What do you want to hear about? </strong>
    <ul><li><input type="checkbox" value="1" name="group[3929][1]" id="mce-group[3929]-3929-0"><label for="mce-group[3929]-3929-0">News</label></li>
<li><input type="checkbox" value="2" name="group[3929][2]" id="mce-group[3929]-3929-1"><label for="mce-group[3929]-3929-1">Events</label></li>
<li><input type="checkbox" value="4" name="group[3929][4]" id="mce-group[3929]-3929-2"><label for="mce-group[3929]-3929-2">Scholarship in Online Learning</label></li>
<li><input type="checkbox" value="8" name="group[3929][8]" id="mce-group[3929]-3929-3"><label for="mce-group[3929]-3929-3">Open Pathways</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_15a2aa14621e01e7a3dd5a8df_8b3b1c6b6b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-blk-ui-pink"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</article>
