<div id="map" style="width:100%;height:30em;"></div>
<script>
  window.mapData = {"latitude": {{ item.lat }},"longitude": {{ item.lng }}, "zoom": {{ item.zoom }}};

  function initMap() {
    var myOptions = {
      scrollwheel: false,
      draggable: true,
      panControl: true,
      disableDefaultUI: true,
      zoomControl: true,
      zoom: window.mapData.zoom,
      maxZoom: 20,
      minZoom: 7,
      center: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);

    var infowindow = new google.maps.InfoWindow({
      content: '<h4>{{ item.info }}</h4><p>{{ item.details }}</p>'
    });

    var marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
      title: '{{ item.info }}'
    });

     infowindow.open(map, marker);

    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(myOptions.center);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>
