
{% assign publications = site.data.publications.publication | sort: 'date' | reverse  %}
{% assign presentations = site.data.presentations.presentation | sort: 'date' | reverse %}

<!--  {{ open.size }}-->

<article class="publications">
<ul class="grid apa">
  {% case page.kind %}
  {% when 'publications' %}

  {% for item in publications %}
  <li class="output {{ item.date }}" data-title="{{ item.title }}" data-author="{{ item.author }}" data-date="{{ item.date }}">
    {% if item.file %}<a href="{{site.baseurl}}/{{ item.file }}" class="reference" target="_blank">{{ item.reference | markdownify | remove: '<p>' | remove: '</p>'  }}</a>{% endif %}
    {% if item.url %}<a href="{{ item.url }}" class="reference" target="_blank">{{ item.reference | markdownify | remove: '<p>' | remove: '</p>' }}</a>
      {% else %}
      {{ item.reference | markdownify | remove: '<p>' | remove: '</p>' }}
    {% endif %}
  </li>
  {% endfor %}

{% when 'presentations' %}
  {% for item in presentations %}
  <li class="output {{ item.date }}" data-title="{{ item.title }}" data-author="{{ item.author }}" data-date="{{ item.date }}">
    {% if item.file %}<a href="{{site.baseurl}}/{{ item.file }}" class="reference" target="_blank">{{ item.reference | markdownify | remove: '<p>' | remove: '</p>'  }}</a>{% endif %}
    {% if item.url %}<a href="{{ item.url }}" class="reference" target="_blank">{{ item.reference | markdownify | remove: '<p>' | remove: '</p>' }}</a>
      {% else %}
      {{ item.reference | markdownify | remove: '<p>' | remove: '</p>' }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endcase%}

</article>
