<section class="palette">

  <div class="brand swatch {{ item }}-bg">
    <h3>{{ item  | capitalize }}</h3>
</div>

  <div class="row">
    <div class="swatch {{ item }}-bg-2">
      <p><span class="small-text">{{ item  | capitalize }}-2</span></p>
    </div>
    <div class="swatch {{ item }}-bg-4">
      <p><span class="small-text">{{ item  | capitalize }}-4</span></p>
    </div>
    <div class="swatch {{ item }}-bg-6">
      <p><span class="small-text">{{ item  | capitalize }}-6</span></p>
    </div>
    <div class="swatch {{ item }}-bg-8">
      <p><span class="small-text">{{ item  | capitalize }}-8</span></p>
    </div>
  </div>
  <div class="row">
    <div class="swatch {{ item }}-bg-1">
      <p><span class="small-text">{{ item  | capitalize }}-1</span></p>
    </div>
    <div class="swatch {{ item }}-bg-3">
      <p><span class="small-text">{{ item  | capitalize }}-3</span></p>
    </div>
    <div class="swatch {{ item }}-bg-5">
      <p><span class="small-text">{{ item  | capitalize }}-5</span></p>
    </div>
    <div class="swatch {{ item }}-bg-7">
      <p><span class="small-text">{{ item  | capitalize }}-7</span></p>
    </div>
  </div>
  <div class="row">
    <div class="swatch {{ item }}-bg-light">
      <p><span class="small-text">{{ item  | capitalize }}-Light</span></p>
    </div>
    <div class="swatch {{ item }}-bg-dark">
      <p><span class="small-text">{{ item  | capitalize }}-Dark</span></p>
    </div>
    <div class="swatch {{ item }}-bg-tint">
      <p><span class="small-text">{{ item  | capitalize }}-Tint</span></p>
    </div>
    <div class="swatch {{ item }}-bg-trans">
      <p><span class="small-text">{{ item  | capitalize }}-Trans</span></p>
    </div>
  </div>
</section>
