
{% assign incubate = site.projects | where:"categories","Incubation" | sort: 'date-start' | reverse  %}
{% assign innovate = site.projects | where:"categories","Innovation" | sort: 'date-start' | reverse %}
{% assign open = site.projects | where:"categories","Open" | sort: 'date-start' | reverse  %}

<!--  {{ open.size }}-->

<article class="archive">
  <h2>Projects</h2>
  <div class="project-list">
    {% case page.categories %}
    {% when 'open' %}
    {% for project in open %}
    <a href="{{ site.baseurl }}{{ project.url }}.html" class="open">
        <img src="{{ site.baseurl }}/{{ project.hero.icon }}" height="100">
        <p>{{ project.title}}</p>
    </a>
    {% endfor %}

    {% when 'incubation' %}
    {% for project in incubate %}
      <a href="{{ site.baseurl }}{{ project.url }}.html" class="incubate">
          <img src="{{ site.baseurl }}/{{ project.hero.icon }}" height="100">
          <p>{{ project.title}}</p>
      </a>
    {% endfor %}

    {% when 'innovation' %}
      {% for project in innovate  %}
      <a href="{{ site.baseurl }}{{ project.url }}.html" class="innovate">
          <img src="{{ site.baseurl }}/{{ project.hero.icon }}" height="100">
          <p>{{ project.title}}</p>
      </a>
      {% endfor %}

    {% endcase %}
    <div>
</article>
