<div class="social">
  {% for item in site.social-twitter %}<a href="https://www.twitter.com/{{ item }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/twitter.svg" /></a>{% endfor %}
  {% for item in site.social-facebook %}<a href="https://www.facebook.com/{{ item }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/facebook-f.svg" /></a>{% endfor %}
  {% for item in site.social-youtube %}<a href="https://www.youtube.com/channel/{{ item }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/youtube-play-rev.svg" /></a>{% endfor %}
  {% for item in site.social-linkedin %}<a href="https://www.linkedin.com/{{ item }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/linked-in.svg" /></a>{% endfor %}
  {% for item in site.social-flickr %}<a href="https://www.flickr.com/photos/{{ item }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/flickr-dots-square-rev.svg" /></a>{% endfor %}
  {% for item in site.social-instagram %}<a href="https://www.instagram.com/photos/{{ item }}" target="_blank"><img src="{{ site.baseurl }}/assets/images/instagram-rev.svg" /></a>{% endfor %}

</div>
