<section class="team">
  <h1 id="team">Our Team</h1>
  <h3 class="blurb">We have assembled a team with a broad range of skills, talents and backgrounds. They bring to their work a wide range of experiences and a depth of knowledge in various areas.</h3>


  {% assign team = site.team | sort: 'order'  %}

  {% for person in team %}
    <a href="{{ site.baseurl }}/team/{{ person.title | slugify }}.html" class="team-member">
      <div class="profile">
        {% for item in person.portrait %}<div class="thumb" style="background-image: url({{ item | absolute_url }})"></div>{% endfor %}
        <h2>{{ person.title }}</h2>
        {% for item in person.position %}<h5>{{ item }}</h5>{% endfor %}
      </div>
    </a>
  {% endfor %}

</section>
