<section class="team">
  <h1 id="team">Our Team</h1>
  <h3 class="blurb">We have assembled a team with a broad range of skills, talents and backgrounds. They bring to their work a wide range of experiences and a depth of knowledge in various areas.</h3>
  {% for person in site.team %}
  <article class="team-member">
    <div class="profile">
      <h2>{{ person.name }}</h2>
      {% for item in person.photo %}<div class="thumb" style="background-image: url({{ person.photo | absolute_url }})"></div>{% endfor %}
      {% for item in person.position %}<h5>{{ item }}</h5>{% endfor %}
      <div class="social">
      {% for item in person.email %}<a href="mailto:{{ item }}?subject=Hi {{ person.greeting }}, I was on your website and wanted to get in touch"><img src="assets/images/envelope-blk.svg" /></a>{% endfor %}
      {% for item in person.twitter %}<a href="https://www.twitter.com/{{ item }}"><img src="assets/images/twitter-blk.svg" /></a>{% endfor %}
      {% for item in person.linkedin %}<a href="https://www.linkedin.com/in/{{ item }}"><img src="assets/images/linkedin-in-blk.svg" /></a>{% endfor %}
    </div>
    </div>
    <div class="bio">
      <p>{{ person.bio | mardownify }}</p>
    </div>
  </article>
  {% endfor %}
</section>
