.apa,.apa ul,.apa ol,.apa dl,.ref-apa,.ref-apa ul,.ref-apa ol,.ref-apa dl,.apa-ref,.apa-ref ul,.apa-ref ol,.apa-ref dl,.refapa,.refapa ul,.refapa ol,.refapa dl,.aparef,.aparef ul,.aparef ol,.aparef dl
{padding-left: 0; margin-left: 0; ;}


.apa li,.ref-apa li,.refapa li,.apa-ref li,.aparef li
{list-style-type: none;}


.apa p,.apa li, .apa dd,.ref-apa p,.ref-apa li,.ref-apa dd,.refapa p,.refapa li,.refapa dd,.apa-ref p,.apa-ref li,.apa-ref dd,.aparef p,.aparef li,.aparef dd {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-top: 1em;
  text-indent: -2em;
}

.reference {
  text-decoration: none;
  line-height: 1;
  color: $blk;

  &:after {
    content: " ";
    background-image: url(../images/external-link-square.svg);
    background-size: cover;
    position: relative;
    display: inline-block;
    height: .9em;
    width: .8em;
    top: .1em;
  }

  &:hover {
    color: $brand;
    fill: $brand;
  }
}
