
.btn-rev {
  color: $rev;
  transition: all 0.3s ease 0s;

&:hover {
    background: rgba($brand, .9);
    box-shadow: $shadow-4;
    color: $rev;
  }
}

.btn-blk {
  color: $blk;
  transition: all 0.3s ease 0s;

&:hover {
    color: $rev;
    background: rgba($brand, .9);
    box-shadow: $shadow-2;
}
}

.btn-nav {
  width:100%;
  transition: all 0.3s ease 0s;
  font-size: 100%;
  padding: 1em 1em;
  text-transform: uppercase;
  border-radius: .5em;
  text-decoration: none;
  background: transparent;
  text-align: center;
  flex: 1;
}

.back {
  flex: 2 2 100%;

&:hover {
  color: $rev;
  background: rgba($brand, .9);
  box-shadow: $shadow-2;
}
}

.prev {
&:hover {
  color: $rev;
  background: rgba($brand, .9);
  box-shadow: $shadow-2;
}

&:before {
  content: '\2190\00a0';
}
}

.next {
&:hover {
  color: $rev;
  background: rgba($brand, .9);
  box-shadow: $shadow-2;
}

&:after {
  content: '\2192\00a0';
}
}

.up {
&:hover {
  color: $rev;
  background: rgba($brand, .9);
  box-shadow: $shadow-2;
}

&:before {
  content: '\2191\00a0';
}
}

.call-to-action {
  font-size: 100%;
  border: 2px solid;
  padding: 1em 2em;
  text-transform: uppercase;
  border-radius: .5em;
  text-decoration: none;
  background: transparent;
  text-align: center;
  margin: 5vh 0 0 0;
}

.call-to-action:hover {
  // background: rgba($blk, .2);
  color: $rev;
}

.download-btn {
  padding: .2em .4em;
  text-transform: uppercase;
  border-radius: .2em;
  text-decoration: none;
  text-align: center;
  color: $rev;
  background: $brand-1;

  &:before {
    content: url('../images/arrow-down.svg');
    display: inline-block;
    width: .7em;
    padding: 0 .2em;
  }


  &:hover {
    color: $rev;
    background: $brand-2;
}
}

.action-btn {
  padding: .2em 1em;
  text-transform: uppercase;
  border-radius: .2em;
  text-decoration: none;
  text-align: center;
  color: $rev;
  background: $brand-1;

  &:hover {
    color: $rev;
    background: $brand-2;
}
}


input:focus,
textarea:focus {
  -webkit-transform: translateZ(0);
  outline: 1px solid $brand;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid $grey-hover;
  min-height: 2em;
  padding: .5em;
  border-radius: .2em;
}


.svg-brand {
  fill: $brand;
  color: $brand;
}

.see-more {
  text-align: right;
  text-transform: uppercase;
  a {
    text-decoration: none;
    background: $grey-hover;
    padding: .2em 1em;
    border-radius: .2em;

&:hover {
  background: $brand-1;
}
  }

}
