.progress {
  margin-top: .4em;
  background-color: #f9f9f9;
  color: #fff;
  border-radius: .4em;
  box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.4);
  box-sizing: initial;
  font-size: 80%;
  height: 2em;
  line-height: 2;
  position: relative;
  text-align: center;
  width: 100%;
}

.progress > span {
  border-radius: .4em;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: auto;
}
