---

layout: default

---

{% for item in page.hero %}
  {% include hero.html %}
{% endfor %}

<section class="article">

<article class="">
  {{ page.content | markdownify }}
</article>

  <aside>
    <h4>Categories</h4><label>{{ page.categories}}</label>
    <h4>Data</h4><label>Meta Element</label>
    <h4>Data</h4><label>Meta Element</label>
    <h4>Data</h4><label>Meta Element</label>

    <nav>
      <button class="prev">Previous</button>
      <button class="next">Next</button>
    </nav>
  </aside>


</section>
