---

layout: default

---

<section class="event-hero" style="transform-style: preserve-3d; background-image:linear-gradient(to bottom, rgba({{ page.hero.gradient_color_1 }}), rgba({{ page.hero.gradient_color_2 }})){% for item in page.hero.image %}, url({{ site.baseurl }}{{ item }}){% endfor %}">
<h3 class="icon" style="background-image: {% for item in page.hero.icon %}url({{ site.baseurl }}{{ item }}){% endfor %}"></h3>
  <h2 class="promo">{{ page.title }}</h2>
</section>

<section class="event">

  <aside>

      <h5>{{ page.event-type | upcase }}</h5>


      {% if page.status == 'past' %}
      <p>Held on the {{ page.date-start | date_to_long_string }}</p>
        {% else %}
      <p><strong>Start</strong><br> {{ page.date-start | date: "%m/%d/%Y, %H:%M" }}</p>
      <p><strong>Finish</strong><br> {{ page.date-finish | date: "%m/%d/%Y, %H:%M" }}</p>
      {% endif %}

      {% if page.location %}
      <h5>Location</h5>
        <p>{{ page.location.info }}</p>
        {% if page.location.lat == '' %}
        <h5>Details</h5>
        <p>{{ page.location.details }}</p>
        {% else %}
          {% include maps.html %}
        {% endif %}
      {% endif %}
  </aside>

<article class="">

{% if page.status == 'past' %}
<section class="description">
  {{ page.post-mortem-text | markdownify }}
  {% else %}
  <p class="description">{{ page.promotional-text | markdownify  }}</p>
{% endif %}
</section>

{{ content | markdownify }}


{% if page.outputs != empty %}
<h2>Outputs</h2>

  <ul class="speakers">
      {% for item in page.outputs %}
    <li class=""><p>{{ item.description }}</p><a href="{% if item.link %}{{ item.link }}{% else %}{{ item.file | absolute_url }}{% endif %}" class="download-btn full-btn" target="_blank">{{ item.button_text }}</a></li>
      {% endfor %}
  </ul>
{% endif %}

{% for item in page.flickr-album %}
  <h2>Photo Gallery</h2>
  <div id="flickrembed"></div><div style=" display:block; text-align:center; z-index:-1;"><script src='https://flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input={{ page.flickr-album }}&sort=2&by=album&theme=compact&scale=fill&limit=10&skin=default&autoplay=true'></script><small style="display: block; text-align: center; margin: 0 auto;">Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></div>
{% endfor %}


{% if page.no-bios == true %}
<h2>Speakers</h2>
<ul class="speakers">
  {% for person in page.speakers %}
  <li><h6>{{ person.name }}</h6>
    {% for item in person.position %}<p class="info ui-grey-2">{{ item }}</p>{% endfor %}
    {% for item in person.presentation %}<a href="{{ item | absolute_url }}" class="download-btn" target="_blank">Slides</a>{% endfor %}
    {% for item in person.case-study %}<a href="{{ item | absolute_url }}" class="download-btn" target="_blank">Case Study</a>{% endfor %}
    {% for item in person.external_link_url %}<a href="{{ item | absolute_url }}" class="download-btn" target="_blank">{{ person.external_link_label }}</a>{% endfor %}

  </li>
    {% endfor %}
</ul>
{% endif %}

</article>


{% if page.no-bios == false %}
<article class="bustout">

<h2>Speakers</h2>

{% include speakers.html %}

</article>
{% endif %}

</section>
