---

layout: default

---

{% if page.hero %}
  {% include hero.html %}
{% endif %}

<section class="article">
  <article class="">
    {{ page.content | markdownify }}
  </article>
</section>


<section class="">
  {% if page.archive == true %}
    {% include event-list.html %}
    {% include project-list.html %}
  {% endif %}
</section>

{% for item in page.programs %}
  {% include card-grid-programs.html %}
{% endfor %}

{% for item in page.feature %}
  {% include feature.html %}
{% endfor %}
