---

layout: default

---

{% if page.hero %}
  {% include hero.html %}
{% endif %}

<section class="post">

<article class="post">
  {{ page.content | markdownify }}
</article>

  <aside>
    <h5>Category</h5><p>{% for item in page.categories %}{{ item | capitalize }}{% if forloop.last == false %}, {% endif %}{% endfor %}</p>
    <h5>Posted</h5><p>{{ page.date | date: '%B %d, %Y'}}</p>
    <h5>Author</h5><p>{{ page.author }}</p>
    <h5>Tags</h5><p>{% for item in page.tags %}{{ item }}{% if forloop.last == false %}, {% endif %}{% endfor %}</p>

<nav>
    {% if page.previous.url %}
      <a href="{{ site.baseurl }}{{ page.previous.url  | abolute_url }}" class="btn-nav prev">PREV</a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{ site.baseurl }}{{ page.next.url | abolute_url }}" class="btn-nav next">NEXT</a>
    {% endif %}
</nav>


</section>
