---

layout: default

---

{% for item in page.hero %}
<section class="project-hero" style="transform-style: preserve-3d; background-image:linear-gradient(to bottom, rgb({{ item.gradient_color_1 }}), rgb({{ item.gradient_color_2 }}){% for item in item.header-image %}, url({{ site.baseurl }}/{{ item.image-path }}{{ item }}){% endfor %}">
<h3 class="icon" style="background-image: {% for icon in item.icon %}url({{ site.baseurl }}/{{ icon }}){% endfor %}"></h3>
  <h2 class="promo">{{ page.title }}</h2>
</section>
{% endfor %}

<section class="project">

<article class="">
  {{ page.content | markdownify }}
</article>

  <aside class="project">

    <h4>Summary</h4><em>{{ page.summary | markdownify }}</em>
    <h4>Project Focus</h4><label>{% for item in page.focus %}{{ item | capitalize }}{% if forloop.last == false %}, {% endif %}{% endfor %}</label>
    <h4>Progress</h4>

    <div class="progress">
      <span style="width: {{ page.progress }}" class="ui-fuchia-bg">{{ page.progress }}</span>
    </div>
    <h4>Status</h4><label>{{ page.status | capitalize }}</label>
    <h4>Team</h4><label><ul>{% for item in page.team %}<li>{{ item }}</li>{% endfor %}</ul></label>
    <h4>Duration</h4><label>{{ page.date-start | date: "%b %y" }} – {{ page.date-finish | date: "%b %y" }}</label>

    {% if page.outputs %}

    <h4>Output</h4>
    <ul>
      {% for item in page.outputs %}
      <li>
        {% if item.link %}<a href="{{ item.link }}" target="_blank">{{ item.description | capitalize }}</a>
        {% else %}<a href="{{ site.baseurl}}/{{ item.file }}" target="_blank">{{ item.description | capitalize }}</a>{% endif %}
      </li>
      {% endfor %}
    </ul>

    {% endif %}

    {% include projectnext.html %}

  </aside>


</section>
