---

layout: default

---

{% if page.hero %}
<section class="project-hero" style="transform-style: preserve-3d; background-image:linear-gradient(to bottom, rgb({{ page.hero.gradient_color_1 }}), rgb({{ page.hero.gradient_color_2 }}){% for item in page.hero.header-image %}, url({{ site.baseurl }}/{{ item.image-path }}{{ item }}){% endfor %}">
<h3 class="icon" style="background-image: {% for icon in page.hero.icon %}url({{ site.baseurl }}/{{ icon }}){% endfor %}"></h3>
  <h2 class="promo">{{ page.title }}</h2>
</section>
{% endif %}

<section class="project">

<article class="">
  {{ page.content | markdownify }}
</article>

  <aside class="project">

    <h5>Summary</h5><p><em>{{ page.summary | markdownify }}</em></p>
    <h5>Project Focus</h5><p class="capitals">{% for item in page.focus %}{{ item }}{% if forloop.last == false %}, {% endif %}{% endfor %}</p>
    <h5>Progress</h5>

    <div class="progress">
      <span style="width: {{ page.progress }}%" class="ui-fuchia-bg">{{ page.progress }}</span>
    </div>
    <h5>Status</h5><p>{{ page.status | capitalize }}</p>
    <h5>Team</h5><p><ul>{% for item in page.team %}<li>{{ item }}</li>{% endfor %}</ul></p>
    <h5>Duration</h5><p>{{ page.date-start | date: "%b %y" }} – {{ page.date-finish | date: "%b %y" }}</p>

    {% if page.outputs %}

    <h5>Output</h5>
    <ul>
      {% for item in page.outputs %}
      <li>
        {% if item.link %}<a href="{{ item.link }}" target="_blank" class="capitals">{{ item.description }}</a>
        {% else %}<a href="{{ site.baseurl}}/{{ item.file }}" target="_blank" class="capitals">{{ item.description }}</a>{% endif %}
      </li>
      {% endfor %}
    </ul>

    {% endif %}

    {% include projectnext.html %}

  </aside>


</section>
