---

layout: default

---

{% include team-banner.html %}


<section class="project profile">

<aside class="profile">
    <img src="{{ page.portrait | absolute_url }}" width="100%">
    <h5>Contact</h5><p><em>{{ page.summary | markdownify }}</em></p>
      <div class="social">
          <a href="mailto:{{ page.email }}?subject=Hi {{ page.greeting }}, I was on your website and wanted to get in touch" title="{{ page.email }}"><img src="{{ site.baseurl }}/assets/images/envelope-blk.svg" /></a>
          <a href="tel:{{ page.phone_number }}" title="{{ page.phone_number }}"><img src="{{ site.baseurl }}/assets/images/phone.svg" /></a>
      </div>
    <h5>Social</h5>
      <div class="social">
        {% for item in page.twitter %}<a href="https://www.twitter.com/{{ item }}" title="Twitter" target="_blank"><img src="{{ site.baseurl }}/assets/images/twitter-blk.svg" /></a>{% endfor %}
        {% for item in page.linkedin %}<a href="https://www.linkedin.com/in/{{ item }}" title="LinkedIn" target="_blank"><img src="{{ site.baseurl }}/assets/images/linkedin-in-blk.svg" /></a>{% endfor %}
        {% for item in page.facebook %}<a href="https://www.facebook.com/in/{{ item }}" title="Facebook" target="_blank"><img src="{{ site.baseurl }}/assets/images/facebook-f-blk.svg" /></a>{% endfor %}
        {% for item in page.youtube %}<a href="https://www.youtube.com/user/{{ item }}" title="YouTube" target="_blank"><img src="{{ site.baseurl }}/assets/images/youtube-play.svg" /></a>{% endfor %}
        {% for item in page.flickr %}<a href="https://www.flickr.com/photos/{{ item }}" title="Flickr" target="_blank"><img src="{{ site.baseurl }}/assets/images/flickr-dots-square.svg" /></a>{% endfor %}
        {% for item in page.blog %}<a href="{{ item }}" title="Blog" target="_blank"><img src="{{ site.baseurl }}/assets/images/browser.svg" /></a>{% endfor %}
      </div>
</aside>

<article class="profile ">
  {{ page.content | markdownify }}

{% if page.presentations.title %}
  <h3>Presentations</h3>
  <div class="apa">
    <ul>
      {% for item in page.presentations%}
      <li>
        {% if item.file %}<a href="{{site.baseurl}}/{{ item.file }}" class="reference" target="_blank">{{ item.reference | markdownify | remove: '<p>' | remove: '</p>'  }}</a>{% endif %}
        {% if item.url %}<a href="{{ item.url }}" class="reference" target="_blank">{{ item.reference | markdownify | remove: '<p>' | remove: '</p>' }}</a>
          {% else %}
          {{ item.reference | markdownify | remove: '<p>' | remove: '</p>' }}
        {% endif %}
      </li>
      {% endfor %}
  </div>
{% endif %}


{% if page.publications.title %}
  <h3>Publications</h3>
  <div class="apa">
    <ul>
      {% for item in page.publications%}
      <li>
        {% if item.file %}<a href="{{site.baseurl}}/{{ item.file }}" class="reference" target="_blank">{{ item.reference | markdownify | remove: '<p>' | remove: '</p>'  }}</a>{% endif %}
        {% if item.url %}<a href="{{ item.url }}" class="reference" target="_blank">{{ item.reference | markdownify | remove: '<p>' | remove: '</p>' }}</a>
          {% else %}
          {{ item.reference | markdownify | remove: '<p>' | remove: '</p>' }}
        {% endif %}
      </li>
      {% endfor %}
  </div>
{% endif %}

</article>




</section>
