section.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FAF9F8;
  padding: 0 5vw;
  -webkit-transform: translateZ(0);
  min-height: 20vh;

  aside {
    width: 100%;
    border-top: 5px solid $brand;

  h4 {
    margin: .5em 0;
  }

  ul {
    list-style: none;
    padding-left: .4em;
    box-shadow: inset 2px 0 0 rgba(100, 100, 100, 0.1);

  }
  nav {
    padding-top: 2em;
    display: flex;
  }
  }
  article {
    // width: 100%;

  p, li {
    max-width: 40em;
  }

  p img {
    max-width: 100%;
  }
  }
}


@media screen and (min-width: 700px) {
section.article {
  display: grid;
  grid-template-columns: 1fr 40em 1fr;
  grid-row: auto;
  grid-gap: 1em;

  article {
    grid-column: 2 / span 1;
    grid-row: 1;
    padding-bottom: 2em;

  p img {
    max-width: 100%;

  ul li:before {
    color: $brand;
    font-weight: 700;
  }
  }
}

}
}
