section.card-grid {
  display: flex;
  flex-direction: column;
  background: $grey-page;

  h2 {
    font-weight: 400;
    color: $rev;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: 120%;
  }

  article {
    flex: 1 1 50%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    box-shadow: $shadow-1;
    background: $grey-page;
    background-position: top center;
    background-size: cover;

    .thumb {
      padding-bottom: 80%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    
    h3, p, a {
      margin: 24px;
      text-align: center;
    }
  h3 {
  }
  }
  article:hover {
    box-shadow: $shadow-4;
  }
}




@media screen and (min-width: 768px) {
    section.card-grid {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
      // grid-template-rows: auto;
      // grid-gap: 2em;
      align-content: center;
      padding: 1em;


      h2 {
        margin: 0;
        flex: 2 2 100%;
      }

      article {
        margin: 1em;
        flex: 0 1 25%;
      }
      .featured {
        flex: 2 2 50%;
      }
    }
  }
