section.card-grid {
  display: flex;
  flex-direction: column;
  background: $grey-page;

  h2 {
    font-weight: 400;
    color: $rev;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: 120%;
  }

  article {
    flex: 1 1 50%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    box-shadow: $shadow-1;
    background: $grey-page;
    background-position: top center;
    background-size: cover;
    border-radius: .2em;

    .thumb {
      padding-bottom: 80%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .date {
      font-style: italic;
      text-transform: uppercase;
      font-size: 70%;
      margin: 0;
    }
    .blog-date {
      text-align: right;
      padding: 0;
    }

    .event-date {
      text-align: center;
      padding: .5em;
    }

    h3, p, a {
      margin: .75em;
    }

  }
  article:hover {
    box-shadow: $shadow-4;
  }

  .program {
    .thumb {
      padding-bottom: 20vh;
      background-size: contain;
    }
  h3 {
    text-align: center;
  }
}
}




@media screen and (min-width: 768px) {
    section.card-grid {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
      // grid-template-rows: auto;
      // grid-gap: 2em;
      align-content: center;
      padding: 1em;


      h2 {
        margin: 2em 0 0;
        flex: 2 2 100%;
      }

      article {
        margin: 1em;
        flex: 1 1 25%;
      }
      .featured {
        flex: 2 2 50%;
      }
    }
    section article.card, .gridsizer {
      width: 25vw;
      width: 25vw;
      margin: 1vw;
  }
}

  section article.card {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 100%;
    }
  }

  @media screen and (min-width: 880px) {
    section article.card, .gridsizer {
    width: 19%;
    height: 27vw;
  }
  }


  @media screen and (min-width: 1500px) {
    section article.card, .gridsizer {
      width: 16vw;
      height: 25vw;

    }
  }

  section article.card {
    background-color: $brand-1;
    background-size: 80%;
    background-repeat: no-repeat;

    &:hover {
      background-color: $brand-3;
    }

    a {
      color: $rev;
      text-decoration: none;
    }

    a h3 {
      text-decoration: none;
      border: none;
      color: $rev;
      text-decoration: none;
      font-size: 100%;
      text-align: left;
      margin: 0;
      font-weight: 700;
      text-align: center;
    }
  }

section article.upcoming, section article.on-going {
  background-color: $brand;

  &:hover {
    background-color: $brand-3;
    }
  }
