section.event {
  display: flex;
  flex-direction: column;
  background: #FAF9F8;
  padding: 5vw;
  -webkit-transform: translateZ(0);

  article {
    width: 100%;
  .description {
      // background: rgba($neutral, .2);
      margin-right: 1em;
      // padding: 1em;
      font-size: 150%;
      font-style: italic;
      line-height: 1.2;
      border-radius: .5em;
  }

  aside {
      width: 100%;
  p img {
    max-width: 100%;
  }
  }
}
}

@media screen and (min-width: 1000px) {
section.event {
  display: grid;
  grid-template-columns: 40em 1fr;
  grid-row: auto;
  grid-gap: 1em;


  article {
    grid-column: span 1;

  h2 {
    border-bottom: 2px solid;
    padding-bottom: .25em;}
  }

  p img {
    max-width: 100%;
  }

  aside {
    grid-column: 2 /span 1;
    grid-row: 1;
    background: #FAF9F8;
  }
  .bustout {
    grid-column: span 3;
  }
}
}

.event-hero {
  min-height: 50vh;
  color: $rev;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-color: $brand;
  background-position: center center;
  padding: 5vh 1em 0 1em;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateZ(0);
  background-repeat: no-repeat;

  h2 {
    font-size: 300%;
    font-weight: 700;
    text-shadow: $shadow-3;
    margin: 0 0 5vh 0;
  }

  .icon {
    background-size: contain;
    background-position: center center;
    min-height: 20vh;
    width:80%;
    content: "";
    background-repeat: no-repeat;
    margin: 0;
    opacity: .8;
  }
}
