header {
  color: $brand-1;
  background: $brand-1;
  display: flex;
  flex-direction: column;

 & > div {
  padding: 0 1em;
}

a {
  color: $rev;
  text-decoration: none;
}

div.brand img:hover {
  background: rgba($blk, .2);
  border-radius: 1em;
}

div.social img:hover {
  background: rgba($blk, .2);
}

div.social {
  display: none;

img {
  height: 1em;
  width: auto;
  padding: .25em;
  margin: 0 .5em;
  fill: currentcolor;
}
}
}

.logo-present {
  display: none;
}

.brand img {
  height: 4em;
  width: auto;
}


@media only screen and (min-width:600px){
  header {
    flex-wrap: wrap;
    flex-direction: row;
    background: $brand-1-rgb;

    div.social {
      // padding-left: 5vw;
      display: flex;
  }
}
}

@media only screen and (min-width:1100px){
 .brand {
  //  padding-right: 5vw;
 }
}
