section.hero {
  min-height: 30vh;
  color: $rev;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-size: cover, cover;
  background-color: $blk;
  background-position: bottom center;
  padding: 20vh 1em 0 1em;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateZ(0);

h2 {
  font-size: 450%;
  text-shadow: $shadow-3;
  margin: 0 0 .2em 0;
}

h3 {
  font-family: $font-text;
  font-size: 250%;
  margin: 0;
}
}

.full-screen {
    min-height: 75vh !important;
  }
