section.introduction {
display: flex;
padding: 2em 0;
justify-content: center;
align-content: center;
flex-direction: column;
color: $rev;
background: $brand-1;
margin-left: auto;
margin-right: auto;

> * {
    padding: 2vw;
}
}

.visual {
flex: 1;
display: flex;
justify-content: center;
align-content: center;
}

.visual img {
  width: 40%;
  align-self: center;
  padding-bottom: 1em;
}

.spiel {
flex: 2;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;

h3, p {
max-width: 37em;
}
}

@media screen and (min-width: 768px) {
  section.introduction {
    flex-direction: row;
    display: grid;
    grid-template-columns: 10vw 1fr 2fr 10vw;
  }

  .visual {
    grid-column: 2;
  }

  .spiel {
    grid-column: 3;
  }
  .visual img{
    width: 80%;
  }
}
