section.project {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: #FAF9F8;
  padding: 5vw;
  -webkit-transform: translateZ(0);

  aside {
    width: 100%;

    h5 {
      text-transform: uppercase;
      padding: 0;
      margin: 1.5em 0 0;
      font-size: 80%;
      color: lighten($brand-1, 40%);
    }

    section {
      margin-top: .4em !important;
      display: flex;
      flex-direction: column;

    a.action-btn {
      flex: 1 1 50%;
      margin: .2em 0 .2em;
    }
    }

    p {
      margin: 0 0 1em;
      line-height: 1.2;
      font-size: 90%;
    }

  ul {
    list-style: none;
    padding-left: .4em;
    box-shadow: inset 2px 0 0 rgba(100, 100, 100, 0.1);

  }
  nav {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  }
  article {
    width: 100%;
    border-bottom: 5px solid $brand;

  section {
    border-top: 4px solid $brand;

  figure {
    float: right;
    width: 40%;
    margin-left: .5em;

  }
  }

  p, li {
    max-width: 40em;
  }

  p img {
    max-width: 100%;
  }
  }
}

div.button-group {
  // background: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em 0 !important;

  button {
    width: 30%;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    padding: .8em 1em;
    color: $rev;
    background-color: $brand-1;
    border-bottom: 1px solid $rev;
    border-right: 1px solid $rev;
    font-size: 80%;
  }

  button:hover, button:active, button:focus {
    background: $brand-4;
    border: 0;
    color: $rev;
  }
}

@media screen and (min-width: 870px) {

  div.button-group {
    // background: red;
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      width: auto;
      text-transform: uppercase;
      border: 0;
      border-radius: 0;
      padding: .8em 1.4em;
    }

    button:nth-child(even) {
      border-left: 1px solid $rev;
      border-right: 1px solid $rev;
    }
    button:first-child {
      border-radius: .4em 0 0 .4em;
    }

    button:last-child {
      border-radius: 0 .4em .4em 0;
      border-right:none;
    }
  }
}



@media screen and (min-width: 700px) {
section.project {
  display: grid;
  grid-template-columns: minmax(30em, 40em) .75fr;
  grid-row: auto;
  grid-gap: 1em;
  margin-left: auto;
  margin-right: auto;

  article {
    grid-column: 1 / span 1;
    grid-row: 1;

  p img {
    max-width: 100%;

  ul li:before {
    color: $brand;
    font-weight: 700;
  }
  }
}
  aside {
    grid-column: 2 /span 1;
    grid-row: 1;
    background: #FAF9F8;
    border-top: none;
    padding-left: 1em;
    box-shadow: inset 2px 0 0 rgba(100, 100, 100, 0.1);

    .capitals {
      text-transform: capitalize;
    }

  }
}
}

.project-hero {
  min-height: 35vh;
  color: $rev;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-color: $brand;
  background-position: center center;
  padding: 10vh 1em 0 1em;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateZ(0);
  background-repeat: no-repeat;

  h2 {
    font-size: 300%;
    font-weight: 700;
    text-shadow: $shadow-3;
    margin: 0 0 1vh 0;
  }


  .icon {
    background-size: contain;
    background-position: center center;
    min-height: 20vh;
    width:80%;
    content: "";
    background-repeat: no-repeat;
    margin: 0;
    opacity: .8;
  }
}

aside.project {
  h4 {
    text-transform: uppercase;
    font-size: 100%;
    color: $grey-item;
    font-weight: 300;
    margin:1.5em 0 .4em 0 !important;
  }

  ul, p {
    margin: 0;
  }
}
