section article.publications {

  margin: 0 5vw;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    width: calc(100% - 2em);
    padding: .4em;
  }
}

@media screen and (min-width: 800px){
section article.publications {

  li {
    width: 40%;
    padding: .4em;
  }
}
}

@media screen and (min-width: 1200px){
section article.publications {

  li {
    width: 26%;
    padding: .4em;
  }
}
}

@media screen and (min-width: 1700px){
section article.publications {

  li {
    width: 20%;
    padding: .4em;
  }
}
}
