section article.publications {

  margin: 0 5vw;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    width: calc(100% - 2em);
    padding: .4em;
  }
}

@media screen and (min-width: 800px){
section article.publications {
  ul {
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    max-width: 100%;
    padding: .4em;
  }
}
}

@media screen and (min-width: 1800px){
section article.publications {
  ul {
    max-width: 100%;
  }

  li {
    max-width: 45%;
    padding: .4em;
  }
}
}

.outputs {
  font-size: 80%;
}
