  article.speaker, article.session {
    border-bottom: 1px $blk solid;

  &:last-child {
    border: none;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

  .thumb {
      width: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      padding-bottom: 20vh;
    }
  }

  .bio h3 {
    text-transform: capitalize;
  }

  .bio {

  }

  .social {
  }

  .social img {
    height: 1.5em;
    width: auto;
    padding: 1em;
    fill: currentcolor;
  }

  .social img:hover {
    background: $brand;
    border-radius: 2em;
  }

  h4 {
  }

  h5 {
    font-weight: 300;
    color: $grey-item;
    margin: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  section.speakers {
    // padding: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: auto;
    grid-gap: 2vw
  }

  h4 {
    grid-column: span 2;
    // align-self: center;
    // text-align: center;
  }


  article.speaker, article.session {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    padding: 2vh 0;
  }

  .social img {
    height: 2em;
  }
}


@media screen and (min-width: 1100px) {

  article.team-member {
    grid-column: span 1;
  }

  .social img {
    height: 1em;
  }
}
