@media screen and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi){

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header, footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
}

@media screen and (min-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi) {
  body {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: auto 1fr auto;
    // grid-template-areas:
    // "header header header"
    // "main main main"
    // "footer footer footer";
  }
  header, footer {
    flex-direction: row;
}
}

/** Grid Colours **/

body {background: #FAF9F8;}
// header {background: rgba(#ffbe76, .3);}
// nav {background: rgba(#eb4d4b, .3);}
// section {background: rgba(#6ab04c, .3);}
// section:nth-child(odd) {background: rgba(#6ab04c, .2);}
// article {background: rgba(#7ed6df, .2);}
// article:nth-child(even) {background: rgba(#7ed6df, .5);}
// footer {background: rgba(#30336b, .3);}
// .social {background: rgba(#e056fd, .3);}
// .brand {background: rgba(#e056fd, .2);}

/** Grid Postiions **/

// main {display: contents;}

header, main, section, footer {
  grid-column: span 3;
  webkit-perspective: 0;
  webkit-backface-visibility: none;
	-webkit-transform: translateZ(0);
	-webkit-font-smoothing: antialiased;
}

div {
	-webkit-transform: translateZ(0);
}


header {
	grid-column-start: 1;
	grid-column-end: span 3;
	grid-row: 1;
	z-index: 20;
	flex-grow: 1}
main {
	grid-column-start: 1;
	grid-column-end: span 3;
	grid-row-start: 1;
	grid-row-end: span 2;
	flex-grow: 3;
	background: #FAF9F8;}
footer {grid-column: span 3; grid-row: 3 / span 1; flex-grow: 1}
